<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cuiweiyou.sharepoint">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ThinkApplication"
        android:allowBackup="true"
        android:icon="@mipmap/splogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".aty.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".aty.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aty.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aty.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aty.MenuurlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aty.LinkShieldingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".aty.HistoryActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>